/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #E55473;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: 0;
    font-size: 15px;
    font-weight: 700;
   
}
/* header styles */
header{
    background: rgba(229, 84, 115, 0.10);
    
}
.banner{
    padding: 50px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.banner .banner-pic{
    width: 400px;
}
.banner-heading{
    
    font-size: 50px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #272727;
    
}
.banner-p{
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; 
}
.banner-content{
    max-width: 500px;
}
.btn-header{
  
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
   
}
/* main feature styles */
.content{
    padding: 100px 50px 100px 50px;
}
.feature{
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    padding: 50px 20px 20px 50px;
    justify-content: space-between;
    gap: 10%;
    text-align: center;
}
.tree>img{
    text-align: center;
    padding-bottom: 0;
    border-radius: 300px 300px 0px 0px;
    height: 408px;
    
   
}
.a{
    text-decoration: none;
    padding-bottom: 0;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    text-decoration-line: underline;
  
}
/* main section 2 styles */
.content2{
    padding: 50px 100px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
}
.content2-des{
    max-width: 600px;
    text-align: center;
}
.content2-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 0;
 
}
.content2-p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.btn-content2{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
}
/* Content 3 styles */
.content3{
    padding: 50px 20px 20px 50px;
    
}
.content-3{
    border-radius: 0;
    text-align: center;
    

}
.content3-heading{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.content3-p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px; /* 166.667% */
}
.flowers > img{
    padding-right: 15px;
    
}
.flowers{
    margin: 0 10px;
    text-align: center;
    
    display: flex;
}
.back{
    background-image: url(../Css/Rectangle\ 9.png);
    align-items: center;
    margin: 80px 10px;
    
    height: 449px;
   
    background-repeat: no-repeat;
    padding: 50px 20px 20px 50px;
    
    
}
.back-heading{
    color: #272727;
    text-align: center;
    font-size: 40px; 
    font-weight: 800;

}
.back-p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding-bottom: 25px;
}
.back-input{
    border-radius: 5px;
    background: #FFF;
    width: 650px;
    height: 50px;
    margin-left: 250px;
    border: 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    

}
/* footer section styles */
footer{
    background: #111010;
    align-items: center;
    padding: 50px;

}
.footer-heading{
    font-size: 48px;
    font-weight: 800;
    text-align: center;

}
.footer-p{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.copy-right{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}
