/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #E55473;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: 0;
    font-size: 15px;
    font-weight: 700;
   
}
/* header styles */
header{
    background: rgba(229, 84, 115, 0.10);
    
}
.banner{
    padding: 50px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.banner .banner-pic{
    width: 400px;
}
.banner-heading{
    
    font-size: 50px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #272727;
    
}
.banner-p{
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; 
}
.banner-content{
    max-width: 500px;
}
.btn-header{
  
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
   
}
/* main section 2 styles */
.content2{
    padding: 50px 100px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
}
.content2-des{
    max-width: 600px;
    text-align: center;
}
.content2-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 0;
 
}
.content2-p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.btn-content2{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
}
/* Content 3 styles */
.content3{
    padding: 50px 100px 0px 100px;
    
  
    
}
.content-3{
    border-radius: 0;

}
.content3-heading{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.content3-p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.flowers > img{
    padding-right: 15px;
}
.flowers{
    margin: 0 120px;
    text-align: center;
}
.back{
    background-image: url(../Css/Rectangle\ 9.png);
    align-items: center;
    margin: 80px 120px;
    width: 1440px;
    height: 449px;
    padding: 50px 0 0 0;
    background-repeat: no-repeat;
    
    
}
.back-heading{
    color: #272727;
    text-align: center;
    font-size: 40px; 
    font-weight: 800;

}
.back-p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding-bottom: 25px;
}
.back-input{
    border-radius: 5px;
    background: #FFF;
    width: 650px;
    height: 50px;
    margin-left: 320px;
    border: 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    

}
